@charset "utf-8";

/* Fonts */
/* Open Sans: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* Just Another Hand: 'Just Another Hand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

/* Html */
:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    --color-green: #B2D430;
    --color-light: rgba(255,255,255,.7);
    --color-border: rgba(255,255,255,.2);
    --color-text: #7e8890;
    --color-bgcolor: #E9E9E5;
}

/* Umumiy */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Link */
a {
    text-decoration: none;
    color: inherit;
}

/* container */
.container {
    width: 90%;
    margin: 0 auto;
}

/* btn */
.btn {
    color: var(--color-light);
    border-radius: 100px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 15px 60px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .3s all;
}
.btn:hover,
.btn:focus {
    background: #fff;
    color: var(--color-green);
}
.btn_premary {
    background: #bad845;
    color: #fff;
    border: 2px solid #bad845;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: transform .3s;
}
.btn_premary:hover, 
.btn_premary:focus {
    transform: scale(0.97);
}
/* Body */
body {
    background-color: var(--color-bgcolor);
}